#pakistan-selection {
    background-image: url("/assets/images/pakistan/pakistan-flag.jpg");
  }
  
  #china-selection {
    background-image: url("/assets/china-flag.webp");
  }
  
  .country-selector {
    transition: all 0.5s;
  }
  