#pakistan-selection {
  z-index: 0;
  .background-image {
    background-image: url("/assets/images/PK/silk-flag.jpg");
  }
}

#china-selection {
  z-index: 1;

  background-image: url("/assets/images/CN/silk-flag.jpg");
}

.country-selector {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
    background-color: #00000020;
  }
}
