.font-bebas-nueue {
  font-family: "Bebas Neue", sans-serif;
}

.font-playfair-display {
  font-family: "Playfair Display", sans-serif;
}

.font-josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.font-VT323 {
  font-family: "VT323", monospace;
}

.bg-china-silk-flag {
  background-image: url("../images/CN/silk-flag.jpg");
}

.bg-pakistan-silk-flag {
  background-image: url("../images/PK/silk-flag.jpg");
}

.royal-blue-gradient {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
